body {
  margin: 0;
  padding: 0;
  background: white;
}

body, table, form, input, td, th, p, textarea, select
{
  font-family: Verdana, Helvetica, sans serif;
  font-size: 11px;
}

td {
  vertical-align: top;
}

#main-table {
  padding: 0;
  border-collapse: collapse;
}

#top-panel {
  border: 10px solid #fff;
  margin-bottom: 3pt;
  background: rgb(46,23,114);
}
#top-panel a {
  text-decoration: none;
}

#left-top-nav {
  text-align: left;
  border-left: 10px solid #fff;
  // border-bottom: 1px solid #ddd;
  padding: 4px;
  color: #222;
}

#left-top-nav a, #right-top-nav a {
  color: black;
}

#right-top-nav {
  text-align: right;
  // border-bottom: 1px solid #ddd;
  padding: 4px;
}

#main-panel {
  padding: 10px;
}

#side-panel {
  padding: 4px;
  width: 220px;
}

#footer {
  text-align: right;
  font-size: 8pt;
  margin-top: 10em;
  padding: 10px;
  border-top: 1px solid #bbb;
}

#tasks {
  padding: 4px;
} 

a.link {
  text-decoration: underline;
}

a.hover {
  text-decoration: underline;
}

/* tip - anchors of class info */
a.tip {
  position:relative;
  z-index:24;
  text-decoration: underline;
}

a.tip:hover {
  z-index:25;
}

a.tip span {
  display: none
}

a.tip:hover span {
  display:block;
  position:absolute;
  top:2em; 
  left:2em; 
  width:400px;
  border:1px solid #bbbbbb;
  background-color:#fffff0; 
  color:#000;
  text-align: left
}

#top-nav .a {
  color: white;
}

img {
  vertical-align: middle;
  border: 0;
}

table.tab {
  border-collapse: collapse;
}

td.selected_tab {
  vertical-align: middle;
  border: 1px #090 solid;
  background: #ffffff;
}

td.tab_filler {
  background: #ffffff;
  border-bottom: 1px #090 solid;
}

td.tab {
  vertical-align: middle;
  border: 1px #090 solid;
  background: #f0f0f0;
}

table.progress-bar {
  border-collapse: collapse;
  border: 1px solid rgb(46,23,114);
  height: 6px;
  width: 100px;
}

td.progress-bar-done {
  background-color: rgb(46,23,114);
}

td.progress-bar-left {
  background-color: #ffffff;
}

.dashboard td {
  padding: 4px 4px 4px 4px;
}

pre.console {
  overflow: auto;
}

.setting-name {
}

.setting-input {
  width: 100%;
}

.setting-description {
  font-size: 0.8em;
  margin-top: 0;
  padding-top: 0;
}

.scm_info {
  width: 480px;
}

.build-row {
  padding: 3px 4px 3px 4px;
}

.task-header {
  display: block;
  border-bottom: 1px #090 solid;
  font-weight: bold;
  font-size: 12pt;
}

.task {
  white-space: nowrap;
}

.main-table {
}

table.dashboard {
  width: 100%;
}

.pane  {
  margin-top: 4px;
  white-space: nowrap;
}
.pane td {
  padding: 4px 4px 3px 4px;
}

table.pane {
  width: 100%;
  border-collapse: collapse;
  border: 1px #bbb solid;
}

td.pane {
  border: 1px #bbb solid;
  padding: 3px 4px 3px 4px;
  vertical-align: middle;
}

td.pane-header {
  border: 1px #bbb solid;
  background-color: #f0f0f0;
  font-weight: bold;
}

th.pane {
  border: 1px #bbb solid;
  font-weight: bold;
}

#projectstatus th {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 3px 4px 3px 4px;
}

#projectstatus tr {
  border: 1px solid #bbb;
  padding: 3px 4px 3px 4px;
}

#projectstatus td {
  padding: 2px 4px 2px 4px;
  vertical-align: middle;
  padding: 3px 4px 3px 4px;
}

.smallfont {
  font-size: 9px;
}

#foldertab {
  padding: 4px 0;
  margin-left: 0;
  border-bottom: 1px solid #090;
  font: bold 12px Verdana, sans-serif;
}

#foldertab li {
  list-style: none;
  margin: 0;
  display: inline;
}

#foldertab li a {
  padding: 4px 0.5em;
  margin-left: 3px;
  border: 1px solid #090;
  border-bottom: none;
  background: #090;
  text-decoration: none;
}

#foldertab li a:link { color: white; }
#foldertab li a:visited { color: white; }

#foldertab li a:hover {
  color: white;
  background: #6c0;
  border-color: #6c0;
}

#foldertab li a#current {
  background: white;
  border-bottom: 1px solid white;
  color: black;
}

.highlighted-build {
  /*border: 1px solid #ddc;*/
  background: #ffe;
  padding: 3px;
  margin-left: -4px;
}

.changeset-message {
  border: 1px solid #ccb;
  background: #eed;
  padding: 4px;
}

.error {
  color: red;
  font-weight: bold;
}